<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body
    class="bg-neutral-800 flex items-center justify-center flex-col h-screen w-screen"
  >
    <div class="text-6xl text-neutral-500 mb-8">Welcome Users! 😉😎</div>
    <ul class="w-96 space-y-4 p-4 text-neutral-500">
      <li class="p-3 text-center rounded-md hover:bg-neutral-700 transition">
        Person 1
      </li>
      <li class="p-3 text-center rounded-md hover:bg-neutral-700 transition">
        Person 2
      </li>
      <li class="p-3 text-center rounded-md hover:bg-neutral-700 transition">
        Person 3
      </li>
      <li class="p-3 text-center rounded-md hover:bg-neutral-700 transition">
        Person 1
      </li>
      <li class="p-3 text-center rounded-md hover:bg-neutral-700 transition">
        Person 7
      </li>
    </ul>
  </body>
</html>
